body {
  overflow-x: hidden;
}

.navbar, .bg-black{
  background-color: #1e1e24;
}

.active, .navbar-brand, .navbar-brand:hover{
color: #AD343E !important;
font-weight: 700 !important;
}

.text-light-gray, .nav-link{
  color: #EBE9E9 !important;
}

.text-red, .nav-link:hover, h2{
  color: #AD343E !important;
}

.bg-light {
  background-color: #FFFFFB;
}

.bg-light-gray {
  background-color: #EBE9E9;
}

.bg-red {
  background-color: #AD343E;
}

.bg-overlay{
  background-color: rgba(172, 52, 62, 75%);
}

h2 {
  padding-bottom: .5rem;
}

.text-dark, .card-text{
  color: #1E1E24;
}

.text-light {
  color: #FFFFFB;
}

.text-yellow, .how-number {
  color: #F2AF29;
}

a.bron{
  color: #F2AF29 !important;
}

.padding-basic {
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 7.5vh;
  padding-bottom: 7.5vh;
}

.padding-0, .voorbeeld-img-col{
  padding: 0;
}

.padding-col-left {
  padding-right: 5vw;
}

.padding-col-right {
  padding-left: 5vw;
}

.padding-card-col {
  padding-left: 1.25vw;
  padding-right: 1.25vw;
}

.padding-card-col-left {
  padding-left: 0;
}

.padding-card-col-rigt {
  padding-right: 0;
}

.padding-masthead{
  padding-left: 15vw;
  padding-right: 15vw;
}

.masthead {
  height: 65vh;
  min-height: 400px;
  max-height: 700px;
}

.masthead, .kaart{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img-full-width {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.golden-circle-brain{
  max-height: 75%;
}

.how-number, .header-title, .header-home, .card-header{
  text-align: center;
}

.card-header {
  background-color: #AD343E;
  color: #FFFFFB;
  font-weight: 700;
  margin-top: -10px;
}

.card-body {
  background-color: #FFFFFB;
  color: #1E1E24;
}

.card {
  text-align: center !important;
}

.home {
  background-image: url('https://scontent-ams4-1.xx.fbcdn.net/v/t1.0-9/s960x960/46523689_2496750293698781_6066829472412205056_o.jpg?_nc_cat=100&_nc_ohc=Kabh13YCAsgAX-sewM9&_nc_ht=scontent-ams4-1.xx&_nc_tp=1002&oh=65bcdba4e885df5bc3298dc1adbfac2d&oe=5ED40F4F');
}
  /* background-image: url('https://images.unsplash.com/photo-1511746315387-c4a76990fdce?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80'); */

.header-home {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1.4em;
}

.intro-home{
  font-size: 1.3em;
}

.intro-home-left{
  padding-top: 1vh;
  padding-right: 2vw;
}

.intro-home-right{
  padding-top: 1vh;
  padding-left: 2vw;
}

.kaart {
  height: 250px;
}

.golden-circle, .goldencircle-kaart{
  background-image: url('https://cohort21.com/markverbeek/files/2019/04/Start-with-Why-Golden-Circle-Diagram.png');
}

.merkwijzer, .merkwijzer-kaart {
  background-image: url('http://yoeri.xyz/iuxd/merkwijzer-starbucks.png')
}

.kernwaarden, .kernwaarden-kaart {
  background-image: url('http://yoeri.xyz/iuxd/kernwaarden.png')
}